.htaccess
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-admin/
wp-includes/
wp-content/**/*

wp-content/themes/chicTilly/
wp-content/themes/classic/
wp-content/themes/default/
wp-content/themes/simple/

!wp-content/themes/portfolio/
wp-content/themes/portfolio/fonts

*.DS_Store